body {
    background-color: rgb(236, 239, 242) !important;
    padding: 3em 0;
}

.logo {
    display: none;
    text-align: center;
    margin: 3em 0;
}

img {
    border-radius: .3em;
    height: 30px;

}

.col-7 {
    margin: auto;
    border-radius: 2em;
    border: 1px solid gainsboro;
    padding: 2em !important;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1) !important;
    background-color: #f8f9fa;
}

.col-7:first-child {
    background-color: white;
}

.col-7:last-child {
    background-color: transparent;   
}

.header {
    padding: 0;
    color: gray;
    text-align: center;
    margin: 0;
}

.logo-letter {
    padding: 0 1em;
    list-style-type: none;
    display: inline-block;
    font-size: 2em;
}



section.todo_app {
    padding: 3em 2em;
}


#new_todo_input {
    box-shadow: none !important;
    width: 85% !important;
    display: inline !important;
    border-radius: 1em;
}

.add_button {
    float: right;
    padding: .4em .9em;
    display: inline;
    vertical-align: top !important;
    border-radius: 2em !important;
    background-color: #3A509E !important;
}

.list-group {
    margin-bottom: 1em !important;
}

.list-group-item {
    cursor: pointer;
    transition: background-color .3s ease-out;
    margin-bottom: .5em !important;
    border-radius: 1em !important;
}

.list-group-item:first-child {
   border-radius: 1em !important;
}

.list-group-item:last-child {
   border-radius: 1em !important;   
}


.list-group-item:hover {
    background-color: rgb(236, 239, 242) !important;
    border-left: 1px solid slategray;
}

#add_new_todo {
    padding: 2em;
    border-radius: 2em !important;
}


#add_new_todo:hover {
    background-color: white !important;
    border: 1px solid rgba(0,0,0,.125);
}

.item-button {
    color: black;
    opacity: .9;
    letter-spacing: .05em;
    font-weight: 300;
    word-spacing: .2em;
}

.item-button:hover {
    text-decoration: none;
    color: gray;
}
